In [21]:
import numpy as np

from lightfm.datasets import fetch_movielens

movielens = fetch_movielens(min_rating = 3.0)

In [25]:
for key, value in movielens.items():
    print(key, type(value), value.shape)

train <class 'scipy.sparse.coo.coo_matrix'> (943, 1682)
test <class 'scipy.sparse.coo.coo_matrix'> (943, 1682)
item_features <class 'scipy.sparse.csr.csr_matrix'> (1682, 1682)
item_feature_labels <class 'numpy.ndarray'> (1682,)
item_labels <class 'numpy.ndarray'> (1682,)

In [26]:
train = movielens['train']
test = movielens['test']
item_features = movielens['item_features']

In [23]:
for key, value in movielens.items():
    print(key, value)

train   (0, 0)	5
  (0, 1)	3
  (0, 2)	4
  (0, 3)	3
  (0, 4)	3
  (0, 5)	5
  (0, 6)	4
  (0, 8)	5
  (0, 9)	3
  (0, 11)	5
  (0, 12)	5
  (0, 13)	5
  (0, 14)	5
  (0, 15)	5
  (0, 16)	3
  (0, 17)	4
  (0, 18)	5
  (0, 21)	4
  (0, 22)	4
  (0, 23)	3
  (0, 24)	4
  (0, 25)	3
  (0, 27)	4
  (0, 29)	3
  (0, 30)	3
  :	:
  (942, 613)	5
  (942, 624)	3
  (942, 654)	4
  (942, 671)	5
  (942, 684)	4
  (942, 716)	4
  (942, 720)	5
  (942, 721)	3
  (942, 731)	4
  (942, 738)	4
  (942, 762)	4
  (942, 764)	3
  (942, 793)	3
  (942, 795)	3
  (942, 815)	4
  (942, 823)	4
  (942, 824)	3
  (942, 839)	4
  (942, 927)	5
  (942, 942)	5
  (942, 1043)	3
  (942, 1073)	4
  (942, 1187)	3
  (942, 1227)	3
  (942, 1329)	3
test   (0, 19)	4
  (0, 32)	4
  (0, 60)	4
  (0, 116)	3
  (0, 159)	4
  (0, 170)	5
  (0, 188)	3
  (0, 201)	5
  (0, 264)	4
  (1, 12)	4
  (1, 49)	5
  (1, 250)	5
  (1, 279)	3
  (1, 280)	3
  (1, 289)	3
  (1, 291)	4
  (1, 296)	4
  (1, 311)	3
  (2, 327)	5
  (2, 330)	4
  (2, 333)	3
  (2, 342)	3
  (3, 49)	5
  (3, 259)	4
  (3, 263)	3
  :	:
  (940, 123)	5
  (940, 146)	4
  (940, 180)	5
  (940, 256)	4
  (940, 257)	4
  (940, 474)	4
  (940, 992)	4
  (941, 116)	4
  (941, 199)	4
  (941, 260)	4
  (941, 322)	3
  (941, 422)	5
  (941, 426)	5
  (941, 486)	4
  (941, 583)	4
  (941, 603)	4
  (941, 614)	3
  (942, 10)	4
  (942, 57)	4
  (942, 110)	4
  (942, 185)	5
  (942, 214)	5
  (942, 231)	4
  (942, 355)	4
  (942, 807)	4
item_features   (0, 0)	1.0
  (1, 1)	1.0
  (2, 2)	1.0
  (3, 3)	1.0
  (4, 4)	1.0
  (5, 5)	1.0
  (6, 6)	1.0
  (7, 7)	1.0
  (8, 8)	1.0
  (9, 9)	1.0
  (10, 10)	1.0
  (11, 11)	1.0
  (12, 12)	1.0
  (13, 13)	1.0
  (14, 14)	1.0
  (15, 15)	1.0
  (16, 16)	1.0
  (17, 17)	1.0
  (18, 18)	1.0
  (19, 19)	1.0
  (20, 20)	1.0
  (21, 21)	1.0
  (22, 22)	1.0
  (23, 23)	1.0
  (24, 24)	1.0
  :	:
  (1657, 1657)	1.0
  (1658, 1658)	1.0
  (1659, 1659)	1.0
  (1660, 1660)	1.0
  (1661, 1661)	1.0
  (1662, 1662)	1.0
  (1663, 1663)	1.0
  (1664, 1664)	1.0
  (1665, 1665)	1.0
  (1666, 1666)	1.0
  (1667, 1667)	1.0
  (1668, 1668)	1.0
  (1669, 1669)	1.0
  (1670, 1670)	1.0
  (1671, 1671)	1.0
  (1672, 1672)	1.0
  (1673, 1673)	1.0
  (1674, 1674)	1.0
  (1675, 1675)	1.0
  (1676, 1676)	1.0
  (1677, 1677)	1.0
  (1678, 1678)	1.0
  (1679, 1679)	1.0
  (1680, 1680)	1.0
  (1681, 1681)	1.0
item_feature_labels ['Toy Story (1995)' 'GoldenEye (1995)' 'Four Rooms (1995)' ...
 'Sliding Doors (1998)' 'You So Crazy (1994)'
 'Scream of Stone (Schrei aus Stein) (1991)']
item_labels ['Toy Story (1995)' 'GoldenEye (1995)' 'Four Rooms (1995)' ...
 'Sliding Doors (1998)' 'You So Crazy (1994)'
 'Scream of Stone (Schrei aus Stein) (1991)']

In [7]:
from lightfm import LightFM
from lightfm.evaluation import precision_at_k
from lightfm.evaluation import auc_score

model = LightFM(learning_rate=0.05, loss='bpr')
model.fit(train, epochs=10)

train_precision = precision_at_k(model, train, k=10).mean()
test_precision = precision_at_k(model, test, k=10).mean()

train_auc = auc_score(model, train).mean()
test_auc = auc_score(model, test).mean()

print('Precision: train %.2f, test %.2f.' % (train_precision, test_precision))
print('AUC: train %.2f, test %.2f.' % (train_auc, test_auc))

Precision: train 0.30, test 0.03.
AUC: train 0.83, test 0.74.

In [27]:
model = LightFM(learning_rate=0.05, loss='warp')

model.fit_partial(train, item_features=item_features, epochs=10)

train_precision = precision_at_k(model, train, k=10).mean()
test_precision = precision_at_k(model, test, k=10).mean()

train_auc = auc_score(model, train).mean()
test_auc = auc_score(model, test).mean()

print('Precision: train %.2f, test %.2f.' % (train_precision, test_precision))
print('AUC: train %.2f, test %.2f.' % (train_auc, test_auc))

Precision: train 0.57, test 0.10.
AUC: train 0.94, test 0.91.

In [13]:
def sample_recommendation(model, data, user_ids):


    n_users, n_items = data['train'].shape

    for user_id in user_ids:
        known_positives = data['item_labels'][data['train'].tocsr()[user_id].indices]

        scores = model.predict(user_id, np.arange(n_items))
        top_items = data['item_labels'][np.argsort(-scores)]

        print("User %s" % user_id)
        print("     Known positives:")

        for x in known_positives[:3]:
            print("        %s" % x)

        print("     Recommended:")

        for x in top_items[:5]:
            print("        %s" % x)

In [15]:
sample_recommendation(model, movielens, [10, 150, 35])

User 10
     Known positives:
        Dead Man Walking (1995)
        Mr. Holland's Opus (1995)
        Apollo 13 (1995)
        Much Ado About Nothing (1993)
        Princess Bride, The (1987)
     Recommended:
        Fargo (1996)
        Godfather, The (1972)
        Schindler's List (1993)
        Star Wars (1977)
        English Patient, The (1996)
User 150
     Known positives:
        Toy Story (1995)
        Get Shorty (1995)
        Postino, Il (1994)
        Desperado (1995)
        Star Wars (1977)
     Recommended:
        Casablanca (1942)
        Schindler's List (1993)
        Amadeus (1984)
        Star Wars (1977)
        One Flew Over the Cuckoo's Nest (1975)
User 35
     Known positives:
        Air Bud (1997)
        Spawn (1997)
        That Darn Cat! (1997)
        Lay of the Land, The (1997)
     Recommended:
        Air Force One (1997)
        My Best Friend's Wedding (1997)
        Kiss the Girls (1997)
        Postman, The (1997)
        G.I. Jane (1997)

In [1]:
import sqlite3
import pandas as pd
from scipy.sparse import coo_matrix
import numpy as np
conn = sqlite3.connect("jjmovie.db")
c = conn.cursor()
c.execute("PRAGMA table_info(Movies)")
c.fetchall()

[(0, 'MovieId', 'INTEGER', 1, None, 1),
 (1, 'Title', 'TEXT', 1, None, 0),
 (2, 'Price', 'REAL', 1, None, 0),
 (3, 'Adult', 'NUMERIC', 0, None, 0),
 (4, 'Budget', 'INTEGER', 0, None, 0),
 (5, 'ImdbId', 'INTEGER', 0, None, 0),
 (6, 'Popularity', 'INTEGER', 0, None, 0),
 (7, 'ReleaseDate', 'NUMERIC', 0, None, 0),
 (8, 'Revenue', 'INTEGER', 0, None, 0),
 (9, 'Runtime', 'INTEGER', 0, None, 0),
 (10, 'VoteAverage', 'REAL', 0, None, 0),
 (11, 'VoteCount', 'INTEGER', 0, None, 0)]

In [73]:
movies = pd.read_sql_query("SELECT MovieId FROM Movies ", conn)
genres = pd.read_sql_query("SELECT GenreId FROM Genres ", conn)
tbl = pd.read_sql_query("SELECT m.MovieId, mg.GenreId FROM Movies AS m LEFT JOIN MovieGenres AS mg ON m.MovieId=mg.MovieId ", conn)
tbl2 = tbl.pivot(columns="GenreId")

In [91]:
row = movies['MovieId'].values - 1
col = genres['GenreId'].values - 1

In [74]:
movies.head()

   MovieId
0        2
1        3
2        5
3       11
4       12

In [75]:
i = 0
id = movies.loc[i, 'MovieId']
print(str(id))

2

In [78]:
length1 = len(movies.index)
print(str(length1))

43467

In [79]:
length2 = len(genres.index)
print(str(length2))

20

In [80]:
d = pd.DataFrame(np.zeros((length1, length2)))
d.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
length3 = len(tbl.index)-89000
print(str(length3))

685

In [90]:
for i in range(length3):
    a = int(tbl.loc[i, 'MovieId'])-1
    b = int(tbl.loc[i, 'GenreId'])-1
    print("Movie: " + str(a) + " ,Genre: " + str(b))

Movie: 1 ,Genre: 17
Movie: 1 ,Genre: 79
Movie: 2 ,Genre: 17
Movie: 2 ,Genre: 34
Movie: 4 ,Genre: 34
Movie: 4 ,Genre: 79
Movie: 10 ,Genre: 11
Movie: 10 ,Genre: 27
Movie: 10 ,Genre: 877
Movie: 11 ,Genre: 15
Movie: 11 ,Genre: 10750
Movie: 12 ,Genre: 17
Movie: 12 ,Genre: 34
Movie: 12 ,Genre: 10748
Movie: 13 ,Genre: 17
Movie: 14 ,Genre: 17
Movie: 14 ,Genre: 9647
Movie: 15 ,Genre: 17
Movie: 15 ,Genre: 79
Movie: 15 ,Genre: 10401
Movie: 16 ,Genre: 26
Movie: 16 ,Genre: 52
Movie: 16 ,Genre: 9647
Movie: 17 ,Genre: 11
Movie: 17 ,Genre: 13
Movie: 17 ,Genre: 27
Movie: 17 ,Genre: 52
Movie: 17 ,Genre: 877
Movie: 18 ,Genre: 17
Movie: 18 ,Genre: 877
Movie: 19 ,Genre: 17
Movie: 19 ,Genre: 10748
Movie: 20 ,Genre: 98
Movie: 21 ,Genre: 11
Movie: 21 ,Genre: 13
Movie: 21 ,Genre: 27
Movie: 23 ,Genre: 27
Movie: 23 ,Genre: 79
Movie: 24 ,Genre: 17
Movie: 24 ,Genre: 10751
Movie: 25 ,Genre: 17
Movie: 26 ,Genre: 17
Movie: 26 ,Genre: 10401
Movie: 26 ,Genre: 10748
Movie: 27 ,Genre: 17
Movie: 27 ,Genre: 10751
Movie: 29 ,Genre: 15
Movie: 29 ,Genre: 877
Movie: 32 ,Genre: 36
Movie: 34 ,Genre: 15
Movie: 34 ,Genre: 34
Movie: 34 ,Genre: 10750
Movie: 37 ,Genre: 17
Movie: 37 ,Genre: 877
Movie: 37 ,Genre: 10748
Movie: 57 ,Genre: 11
Movie: 57 ,Genre: 13
Movie: 57 ,Genre: 27
Movie: 58 ,Genre: 17
Movie: 58 ,Genre: 52
Movie: 58 ,Genre: 79
Movie: 61 ,Genre: 11
Movie: 61 ,Genre: 877
Movie: 61 ,Genre: 9647
Movie: 62 ,Genre: 52
Movie: 62 ,Genre: 877
Movie: 62 ,Genre: 9647
Movie: 63 ,Genre: 17
Movie: 63 ,Genre: 10748
Movie: 64 ,Genre: 17
Movie: 65 ,Genre: 17
Movie: 65 ,Genre: 52
Movie: 65 ,Genre: 79
Movie: 66 ,Genre: 17
Movie: 66 ,Genre: 52
Movie: 66 ,Genre: 79
Movie: 67 ,Genre: 34
Movie: 67 ,Genre: 877
Movie: 68 ,Genre: 17
Movie: 68 ,Genre: 10401
Movie: 68 ,Genre: 10748
Movie: 69 ,Genre: 17
Movie: 70 ,Genre: 17
Movie: 70 ,Genre: 34
Movie: 70 ,Genre: 10401
Movie: 72 ,Genre: 17
Movie: 73 ,Genre: 11
Movie: 73 ,Genre: 52
Movie: 73 ,Genre: 877
Movie: 74 ,Genre: 13
Movie: 74 ,Genre: 34
Movie: 74 ,Genre: 877
Movie: 75 ,Genre: 17
Movie: 75 ,Genre: 10748
Movie: 76 ,Genre: 52
Movie: 76 ,Genre: 9647
Movie: 77 ,Genre: 17
Movie: 77 ,Genre: 52
Movie: 77 ,Genre: 877
Movie: 78 ,Genre: 11
Movie: 78 ,Genre: 17
Movie: 78 ,Genre: 27
Movie: 78 ,Genre: 35
Movie: 79 ,Genre: 17
Movie: 79 ,Genre: 10748
Movie: 80 ,Genre: 11
Movie: 80 ,Genre: 13
Movie: 80 ,Genre: 15
Movie: 81 ,Genre: 11
Movie: 81 ,Genre: 27
Movie: 81 ,Genre: 52
Movie: 81 ,Genre: 79
Movie: 82 ,Genre: 17
Movie: 82 ,Genre: 52
Movie: 84 ,Genre: 11
Movie: 84 ,Genre: 27
Movie: 85 ,Genre: 17
Movie: 85 ,Genre: 10748
Movie: 86 ,Genre: 11
Movie: 86 ,Genre: 27
Movie: 87 ,Genre: 17
Movie: 87 ,Genre: 10401
Movie: 87 ,Genre: 10748
Movie: 88 ,Genre: 11
Movie: 88 ,Genre: 27
Movie: 89 ,Genre: 27
Movie: 89 ,Genre: 34
Movie: 89 ,Genre: 79
Movie: 90 ,Genre: 98
Movie: 91 ,Genre: 98
Movie: 92 ,Genre: 17
Movie: 92 ,Genre: 52
Movie: 92 ,Genre: 79
Movie: 92 ,Genre: 9647
Movie: 94 ,Genre: 11
Movie: 94 ,Genre: 27
Movie: 94 ,Genre: 52
Movie: 94 ,Genre: 877
Movie: 95 ,Genre: 27
Movie: 95 ,Genre: 34
Movie: 95 ,Genre: 79
Movie: 96 ,Genre: 11
Movie: 96 ,Genre: 27
Movie: 96 ,Genre: 877
Movie: 97 ,Genre: 11
Movie: 97 ,Genre: 17
Movie: 97 ,Genre: 27
Movie: 98 ,Genre: 17
Movie: 98 ,Genre: 34
Movie: 99 ,Genre: 34
Movie: 99 ,Genre: 79
Movie: 100 ,Genre: 17
Movie: 100 ,Genre: 52
Movie: 100 ,Genre: 79
Movie: 101 ,Genre: 17
Movie: 101 ,Genre: 10748
Movie: 102 ,Genre: 17
Movie: 102 ,Genre: 79
Movie: 103 ,Genre: 17
Movie: 103 ,Genre: 27
Movie: 103 ,Genre: 52
Movie: 104 ,Genre: 11
Movie: 104 ,Genre: 34
Movie: 104 ,Genre: 877
Movie: 104 ,Genre: 10750
Movie: 105 ,Genre: 11
Movie: 105 ,Genre: 27
Movie: 105 ,Genre: 52
Movie: 105 ,Genre: 877
Movie: 106 ,Genre: 52
Movie: 106 ,Genre: 79
Movie: 107 ,Genre: 17
Movie: 107 ,Genre: 9647
Movie: 107 ,Genre: 10401
Movie: 108 ,Genre: 17
Movie: 108 ,Genre: 34
Movie: 108 ,Genre: 9647
Movie: 109 ,Genre: 17
Movie: 109 ,Genre: 9647
Movie: 109 ,Genre: 10748
Movie: 110 ,Genre: 17
Movie: 110 ,Genre: 27
Movie: 110 ,Genre: 52
Movie: 110 ,Genre: 79
Movie: 111 ,Genre: 17
Movie: 111 ,Genre: 34
Movie: 111 ,Genre: 10748
Movie: 112 ,Genre: 17
Movie: 113 ,Genre: 34
Movie: 113 ,Genre: 10748
Movie: 114 ,Genre: 34
Movie: 114 ,Genre: 79
Movie: 115 ,Genre: 17
Movie: 115 ,Genre: 52
Movie: 115 ,Genre: 79
Movie: 115 ,Genre: 10748
Movie: 116 ,Genre: 17
Movie: 116 ,Genre: 35
Movie: 116 ,Genre: 52
Movie: 116 ,Genre: 79
Movie: 117 ,Genre: 11
Movie: 117 ,Genre: 13
Movie: 117 ,Genre: 34
Movie: 117 ,Genre: 10750
Movie: 119 ,Genre: 11
Movie: 119 ,Genre: 13
Movie: 119 ,Genre: 27
Movie: 120 ,Genre: 11
Movie: 120 ,Genre: 13
Movie: 120 ,Genre: 27
Movie: 121 ,Genre: 11
Movie: 121 ,Genre: 13
Movie: 121 ,Genre: 27
Movie: 122 ,Genre: 11
Movie: 122 ,Genre: 13
Movie: 122 ,Genre: 15
Movie: 122 ,Genre: 17
Movie: 123 ,Genre: 13
Movie: 123 ,Genre: 17
Movie: 126 ,Genre: 17
Movie: 127 ,Genre: 11
Movie: 127 ,Genre: 13
Movie: 127 ,Genre: 15
Movie: 128 ,Genre: 11
Movie: 128 ,Genre: 13
Movie: 128 ,Genre: 15
Movie: 128 ,Genre: 10750
Movie: 131 ,Genre: 98
Movie: 131 ,Genre: 10401
Movie: 132 ,Genre: 98
Movie: 133 ,Genre: 11
Movie: 133 ,Genre: 27
Movie: 133 ,Genre: 34
Movie: 134 ,Genre: 98
Movie: 134 ,Genre: 10401
Movie: 135 ,Genre: 17
Movie: 135 ,Genre: 26
Movie: 136 ,Genre: 13
Movie: 136 ,Genre: 17
Movie: 136 ,Genre: 34
Movie: 136 ,Genre: 10748
Movie: 137 ,Genre: 26
Movie: 139 ,Genre: 17
Movie: 139 ,Genre: 52
Movie: 139 ,Genre: 79
Movie: 139 ,Genre: 10748
Movie: 140 ,Genre: 13
Movie: 140 ,Genre: 17
Movie: 140 ,Genre: 9647
Movie: 141 ,Genre: 17
Movie: 141 ,Genre: 10748
Movie: 142 ,Genre: 17
Movie: 142 ,Genre: 10751
Movie: 143 ,Genre: 13
Movie: 143 ,Genre: 17
Movie: 143 ,Genre: 10748
Movie: 144 ,Genre: 17
Movie: 144 ,Genre: 10748
Movie: 145 ,Genre: 11
Movie: 145 ,Genre: 17
Movie: 145 ,Genre: 27
Movie: 145 ,Genre: 10748
Movie: 146 ,Genre: 17
Movie: 147 ,Genre: 17
Movie: 147 ,Genre: 10748
Movie: 148 ,Genre: 15
Movie: 148 ,Genre: 877
Movie: 149 ,Genre: 17
Movie: 149 ,Genre: 27
Movie: 149 ,Genre: 34
Movie: 149 ,Genre: 52
Movie: 149 ,Genre: 79
Movie: 151 ,Genre: 11
Movie: 151 ,Genre: 877
Movie: 151 ,Genre: 9647
Movie: 152 ,Genre: 17
Movie: 154 ,Genre: 17
Movie: 154 ,Genre: 27
Movie: 154 ,Genre: 52
Movie: 154 ,Genre: 79
Movie: 156 ,Genre: 11
Movie: 156 ,Genre: 27
Movie: 156 ,Genre: 52
Movie: 156 ,Genre: 877
Movie: 157 ,Genre: 34
Movie: 157 ,Genre: 79
Movie: 158 ,Genre: 17
Movie: 158 ,Genre: 34
Movie: 159 ,Genre: 98
Movie: 160 ,Genre: 52
Movie: 160 ,Genre: 79
Movie: 161 ,Genre: 13
Movie: 161 ,Genre: 17
Movie: 161 ,Genre: 10748
Movie: 162 ,Genre: 52
Movie: 162 ,Genre: 79
Movie: 163 ,Genre: 17
Movie: 163 ,Genre: 34
Movie: 163 ,Genre: 10748
Movie: 164 ,Genre: 11
Movie: 164 ,Genre: 34
Movie: 164 ,Genre: 877
Movie: 164 ,Genre: 10750
Movie: 165 ,Genre: 17
Movie: 165 ,Genre: 34
Movie: 165 ,Genre: 10748
Movie: 166 ,Genre: 17
Movie: 166 ,Genre: 877
Movie: 167 ,Genre: 11
Movie: 167 ,Genre: 877
Movie: 168 ,Genre: 27
Movie: 168 ,Genre: 52
Movie: 168 ,Genre: 877
Movie: 169 ,Genre: 26
Movie: 169 ,Genre: 52
Movie: 169 ,Genre: 877
Movie: 170 ,Genre: 34
Movie: 171 ,Genre: 11
Movie: 171 ,Genre: 27
Movie: 171 ,Genre: 52
Movie: 171 ,Genre: 877
Movie: 172 ,Genre: 11
Movie: 172 ,Genre: 17
Movie: 172 ,Genre: 877
Movie: 173 ,Genre: 11
Movie: 173 ,Genre: 27
Movie: 173 ,Genre: 52
Movie: 173 ,Genre: 877
Movie: 175 ,Genre: 26
Movie: 175 ,Genre: 79
Movie: 175 ,Genre: 9647
Movie: 176 ,Genre: 17
Movie: 176 ,Genre: 34
Movie: 177 ,Genre: 17
Movie: 177 ,Genre: 27
Movie: 177 ,Genre: 52
Movie: 178 ,Genre: 52
Movie: 178 ,Genre: 79
Movie: 179 ,Genre: 27
Movie: 179 ,Genre: 52
Movie: 179 ,Genre: 877
Movie: 179 ,Genre: 9647
Movie: 181 ,Genre: 17
Movie: 181 ,Genre: 52
Movie: 181 ,Genre: 79
Movie: 181 ,Genre: 9647
Movie: 181 ,Genre: 10748
Movie: 181 ,Genre: 10751
Movie: 182 ,Genre: 11
Movie: 182 ,Genre: 17
Movie: 182 ,Genre: 34
Movie: 182 ,Genre: 10748
Movie: 182 ,Genre: 10750
Movie: 183 ,Genre: 34
Movie: 183 ,Genre: 79
Movie: 183 ,Genre: 10748
Movie: 184 ,Genre: 17
Movie: 184 ,Genre: 877
Movie: 185 ,Genre: 17
Movie: 185 ,Genre: 52
Movie: 185 ,Genre: 79
Movie: 185 ,Genre: 9647
Movie: 186 ,Genre: 27
Movie: 186 ,Genre: 52
Movie: 186 ,Genre: 79
Movie: 188 ,Genre: 52
Movie: 188 ,Genre: 79
Movie: 191 ,Genre: 17
Movie: 191 ,Genre: 52
Movie: 191 ,Genre: 9647
Movie: 192 ,Genre: 11
Movie: 192 ,Genre: 27
Movie: 192 ,Genre: 52
Movie: 192 ,Genre: 877
Movie: 193 ,Genre: 34
Movie: 193 ,Genre: 10748
Movie: 194 ,Genre: 34
Movie: 194 ,Genre: 10748
Movie: 195 ,Genre: 11
Movie: 195 ,Genre: 34
Movie: 195 ,Genre: 877
Movie: 195 ,Genre: 10750
Movie: 196 ,Genre: 17
Movie: 196 ,Genre: 27
Movie: 196 ,Genre: 35
Movie: 196 ,Genre: 10751
Movie: 197 ,Genre: 34
Movie: 197 ,Genre: 10751
Movie: 198 ,Genre: 11
Movie: 198 ,Genre: 27
Movie: 198 ,Genre: 52
Movie: 198 ,Genre: 877
Movie: 199 ,Genre: 11
Movie: 199 ,Genre: 27
Movie: 199 ,Genre: 52
Movie: 199 ,Genre: 877
Movie: 200 ,Genre: 11
Movie: 200 ,Genre: 27
Movie: 200 ,Genre: 52
Movie: 200 ,Genre: 877
Movie: 202 ,Genre: 17
Movie: 202 ,Genre: 79
Movie: 203 ,Genre: 11
Movie: 203 ,Genre: 17
Movie: 203 ,Genre: 52
Movie: 204 ,Genre: 17
Movie: 204 ,Genre: 35
Movie: 204 ,Genre: 10751
Movie: 205 ,Genre: 17
Movie: 206 ,Genre: 17
Movie: 210 ,Genre: 17
Movie: 210 ,Genre: 34
Movie: 212 ,Genre: 52
Movie: 212 ,Genre: 9647
Movie: 213 ,Genre: 26
Movie: 213 ,Genre: 52
Movie: 213 ,Genre: 79
Movie: 214 ,Genre: 26
Movie: 215 ,Genre: 17
Movie: 215 ,Genre: 10748
Movie: 216 ,Genre: 11
Movie: 216 ,Genre: 27
Movie: 217 ,Genre: 27
Movie: 217 ,Genre: 52
Movie: 217 ,Genre: 877
Movie: 218 ,Genre: 17
Movie: 218 ,Genre: 34
Movie: 218 ,Genre: 10748
Movie: 219 ,Genre: 17
Movie: 220 ,Genre: 17
Movie: 221 ,Genre: 35
Movie: 221 ,Genre: 98
Movie: 222 ,Genre: 17
Movie: 222 ,Genre: 9647
Movie: 223 ,Genre: 17
Movie: 223 ,Genre: 35
Movie: 224 ,Genre: 17
Movie: 224 ,Genre: 35
Movie: 225 ,Genre: 17
Movie: 225 ,Genre: 79
Movie: 226 ,Genre: 17
Movie: 226 ,Genre: 79
Movie: 227 ,Genre: 17
Movie: 228 ,Genre: 26
Movie: 228 ,Genre: 877
Movie: 230 ,Genre: 17
Movie: 230 ,Genre: 52
Movie: 231 ,Genre: 11
Movie: 231 ,Genre: 17
Movie: 231 ,Genre: 27
Movie: 231 ,Genre: 79
Movie: 231 ,Genre: 10748
Movie: 232 ,Genre: 17
Movie: 233 ,Genre: 17
Movie: 233 ,Genre: 26
Movie: 233 ,Genre: 52
Movie: 233 ,Genre: 79
Movie: 234 ,Genre: 17
Movie: 234 ,Genre: 79
Movie: 235 ,Genre: 17
Movie: 235 ,Genre: 34
Movie: 235 ,Genre: 10748
Movie: 236 ,Genre: 17
Movie: 236 ,Genre: 52
Movie: 236 ,Genre: 79
Movie: 236 ,Genre: 10748
Movie: 237 ,Genre: 17
Movie: 237 ,Genre: 79
Movie: 238 ,Genre: 34
Movie: 238 ,Genre: 10748
Movie: 239 ,Genre: 17
Movie: 239 ,Genre: 79
Movie: 240 ,Genre: 17
Movie: 240 ,Genre: 52
Movie: 240 ,Genre: 79
Movie: 241 ,Genre: 17
Movie: 241 ,Genre: 52
Movie: 241 ,Genre: 79
Movie: 242 ,Genre: 17
Movie: 242 ,Genre: 34
Movie: 242 ,Genre: 10401
Movie: 242 ,Genre: 10748
Movie: 243 ,Genre: 11
Movie: 243 ,Genre: 17
Movie: 243 ,Genre: 26
Movie: 243 ,Genre: 27
Movie: 244 ,Genre: 17
Movie: 244 ,Genre: 34
Movie: 244 ,Genre: 10748
Movie: 245 ,Genre: 11
Movie: 245 ,Genre: 17
Movie: 245 ,Genre: 27
Movie: 246 ,Genre: 17
Movie: 246 ,Genre: 27
Movie: 246 ,Genre: 52
Movie: 246 ,Genre: 79
Movie: 247 ,Genre: 17
Movie: 247 ,Genre: 34
Movie: 248 ,Genre: 17
Movie: 248 ,Genre: 34
Movie: 248 ,Genre: 52
Movie: 249 ,Genre: 27
Movie: 249 ,Genre: 34
Movie: 249 ,Genre: 79
Movie: 250 ,Genre: 13
Movie: 250 ,Genre: 17
Movie: 250 ,Genre: 52
Movie: 250 ,Genre: 9647
Movie: 250 ,Genre: 10748
Movie: 251 ,Genre: 13
Movie: 251 ,Genre: 10750
Movie: 252 ,Genre: 11
Movie: 252 ,Genre: 27
Movie: 252 ,Genre: 52
Movie: 253 ,Genre: 11
Movie: 253 ,Genre: 17
Movie: 253 ,Genre: 27
Movie: 254 ,Genre: 17
Movie: 254 ,Genre: 34
Movie: 254 ,Genre: 10748
Movie: 255 ,Genre: 17
Movie: 256 ,Genre: 17
Movie: 256 ,Genre: 79
Movie: 256 ,Genre: 10750
Movie: 257 ,Genre: 17
Movie: 257 ,Genre: 34
Movie: 257 ,Genre: 10748
Movie: 258 ,Genre: 17
Movie: 258 ,Genre: 34
Movie: 258 ,Genre: 10748
Movie: 259 ,Genre: 27
Movie: 259 ,Genre: 52
Movie: 259 ,Genre: 9647
Movie: 260 ,Genre: 17
Movie: 260 ,Genre: 10748
Movie: 261 ,Genre: 17
Movie: 261 ,Genre: 34
Movie: 264 ,Genre: 17
Movie: 264 ,Genre: 10748
Movie: 264 ,Genre: 10751
Movie: 265 ,Genre: 17
Movie: 266 ,Genre: 17
Movie: 266 ,Genre: 52
Movie: 266 ,Genre: 10748
Movie: 267 ,Genre: 13
Movie: 267 ,Genre: 27
Movie: 268 ,Genre: 17
Movie: 268 ,Genre: 79
Movie: 270 ,Genre: 11
Movie: 270 ,Genre: 13
Movie: 270 ,Genre: 17
Movie: 270 ,Genre: 10750
Movie: 271 ,Genre: 17
Movie: 271 ,Genre: 27
Movie: 271 ,Genre: 79
Movie: 272 ,Genre: 17
Movie: 273 ,Genre: 17
Movie: 273 ,Genre: 52
Movie: 273 ,Genre: 79
Movie: 274 ,Genre: 17
Movie: 274 ,Genre: 52
Movie: 274 ,Genre: 79
Movie: 275 ,Genre: 17
Movie: 275 ,Genre: 34
Movie: 276 ,Genre: 13
Movie: 276 ,Genre: 27
Movie: 276 ,Genre: 52
Movie: 277 ,Genre: 17
Movie: 277 ,Genre: 79
Movie: 278 ,Genre: 17
Movie: 278 ,Genre: 35
Movie: 278 ,Genre: 10401
Movie: 279 ,Genre: 27
Movie: 279 ,Genre: 52
Movie: 279 ,Genre: 877
Movie: 280 ,Genre: 17
Movie: 280 ,Genre: 52
Movie: 280 ,Genre: 79
Movie: 280 ,Genre: 877
Movie: 283 ,Genre: 17
Movie: 283 ,Genre: 34
Movie: 283 ,Genre: 10748
Movie: 284 ,Genre: 11
Movie: 284 ,Genre: 13
Movie: 284 ,Genre: 27
Movie: 285 ,Genre: 98
Movie: 286 ,Genre: 34
Movie: 286 ,Genre: 10748
Movie: 287 ,Genre: 36
Movie: 288 ,Genre: 17
Movie: 288 ,Genre: 10748
Movie: 289 ,Genre: 17
Movie: 289 ,Genre: 34
Movie: 290 ,Genre: 98
Movie: 291 ,Genre: 34
Movie: 291 ,Genre: 98
Movie: 291 ,Genre: 10401
Movie: 292 ,Genre: 17
Movie: 293 ,Genre: 17
Movie: 293 ,Genre: 10748
Movie: 295 ,Genre: 27
Movie: 295 ,Genre: 52
Movie: 295 ,Genre: 877
Movie: 296 ,Genre: 13
Movie: 296 ,Genre: 17
Movie: 296 ,Genre: 9647
Movie: 297 ,Genre: 52
Movie: 297 ,Genre: 79
Movie: 298 ,Genre: 34
Movie: 298 ,Genre: 52
Movie: 298 ,Genre: 79
Movie: 298 ,Genre: 10401
Movie: 299 ,Genre: 13
Movie: 299 ,Genre: 17
Movie: 299 ,Genre: 34
Movie: 300 ,Genre: 36
Movie: 301 ,Genre: 52
Movie: 301 ,Genre: 79
Movie: 302 ,Genre: 17
Movie: 302 ,Genre: 52
Movie: 302 ,Genre: 10748
Movie: 305 ,Genre: 27
Movie: 305 ,Genre: 34
Movie: 305 ,Genre: 79
Movie: 306 ,Genre: 17
Movie: 306 ,Genre: 35
Movie: 307 ,Genre: 17
Movie: 307 ,Genre: 34
Movie: 307 ,Genre: 9647
Movie: 307 ,Genre: 10748
Movie: 309 ,Genre: 13
Movie: 309 ,Genre: 34
Movie: 310 ,Genre: 17
Movie: 310 ,Genre: 79
Movie: 311 ,Genre: 17
Movie: 312 ,Genre: 17
Movie: 312 ,Genre: 10748
Movie: 313 ,Genre: 27
Movie: 313 ,Genre: 79
Movie: 314 ,Genre: 27
Movie: 314 ,Genre: 79
Movie: 315 ,Genre: 17
Movie: 315 ,Genre: 34
Movie: 316 ,Genre: 17
Movie: 316 ,Genre: 35
Movie: 317 ,Genre: 17
Movie: 317 ,Genre: 52
Movie: 318 ,Genre: 27
Movie: 318 ,Genre: 52
Movie: 318 ,Genre: 79
Movie: 318 ,Genre: 10748
Movie: 319 ,Genre: 52
Movie: 319 ,Genre: 79
Movie: 319 ,Genre: 9647
Movie: 320 ,Genre: 34
Movie: 320 ,Genre: 10748
Movie: 321 ,Genre: 17
Movie: 321 ,Genre: 52
Movie: 321 ,Genre: 79
Movie: 321 ,Genre: 9647
Movie: 325 ,Genre: 26
Movie: 325 ,Genre: 27
Movie: 325 ,Genre: 52
Movie: 325 ,Genre: 79
Movie: 326 ,Genre: 17
Movie: 326 ,Genre: 52
Movie: 326 ,Genre: 79
Movie: 328 ,Genre: 11
Movie: 328 ,Genre: 877
Movie: 329 ,Genre: 11
Movie: 329 ,Genre: 27
Movie: 329 ,Genre: 877
Movie: 330 ,Genre: 11
Movie: 330 ,Genre: 27
Movie: 330 ,Genre: 52
Movie: 330 ,Genre: 877
Movie: 331 ,Genre: 11
Movie: 331 ,Genre: 27
Movie: 331 ,Genre: 34
Movie: 331 ,Genre: 10750
Movie: 332 ,Genre: 17
Movie: 332 ,Genre: 34
Movie: 332 ,Genre: 10401
Movie: 332 ,Genre: 10748
Movie: 333 ,Genre: 17

In [70]:
d.head()

,0,1,2,3,4,5,6,7,8,9,...,3457,3458,3459,3460,3461,3462,3463,3464,3465,3466
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
for i in range(dlugosc):
    genre = tbl.loc[i, 'GenreId']
    for j in range(dlugosc):
        if tbl.loc[j, 'GenreId']== genre:
            a = tbl.loc[i, 'MovieId']-1
            b = tbl.loc[j, 'MovieId']-1
            d.iloc[[i], [i]] = 1
            d.iloc[[a], [b]] = 1